#auhtStyle {
  background-color: white;
  margin-top: 10px;
  width: 720px;
  border: 1px solid #7AC8FF;
  padding: 10px;
  text-align: center
}

#Wrapper {
  display: flex;
  flex-direction : row;
  margin: auto 60px;
}

#root {
  padding: 0 10px;
}
