body {
  background-color: #B9E2FF;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

li {
  list-style: none;
}

.inputContainer {
  display : flex;
  justify-content: center;
  align-items : baseline;
  margin-bottom: 16px;
}

.filterContainer {
  display : flex;
  justify-content : center;
}

.LiContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RenderBts {
  display: flex;
}

.Checkbox {
  width: auto;

}
