body {
  background-color: #B9E2FF;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

li {
  list-style: none;
}

.inputContainer {
  display : flex;
  justify-content: center;
  align-items : baseline;
  margin-bottom: 16px;
}

.filterContainer {
  display : flex;
  justify-content : center;
}

.LiContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RenderBts {
  display: flex;
}

.flexBtn {
 padding-left: 5px;
 padding-right: 5px;
 display: flex;
 justify-content : space-between;
}

.flexString {
 text-align: center;
}

.flag {
  width: 20%;
  height: 20%
}
